body {
    background-attachment: fixed;
}

.App {
    font-family: 'Open Sans', sans-serif;
}

.main-background {
    background: url("assets/bruegel_background.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: -200px;
}

.header-background {
    background: url("assets/bruegel_background.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
    background-position-y: -200px;
}

.react-multiple-carousel__arrow {
    min-height: 40px!important;
    min-width: 20px!important;
}

.react-multi-carousel-list {
    align-items: center!important;
    margin: 0 auto;
}

.card-carousel {
    width: 50%
}

h1 {
    padding-left: 0px;
}
h3 {
    padding-left: 0px;
}


@media only screen and (max-width: 600px) {
    .card-carousel {
        width: 100%
    }

    .react-multiple-carousel__arrow {
        min-height: 40px!important;
        min-width: 40px!important;
        width: 140px;
        margin: 5px;
    }

    .react-multi-carousel-list {
        align-items: flex-end!important;
        margin: 0 auto;
    }

    .main-background {
    background: url("assets/bruegel_background.jpeg") no-repeat;
    background-size: contain;
    height: 100vh;
        background-position-y: 20px;
    }
    h1 {
        padding-left: 70px;
    }
    h3 {
        padding-left: 70px;
    }
}
