.App {
    font-family: 'Open Sans', sans-serif;
}

.main-background {
    background: url("./assets/bjorn.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: -200px;
}

.header-background {
    background: url("./assets/bjorn.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
    background-position-y: -200px;
}

.main-card {
   backdrop-filter: blur(40px);
}

h1 {
    padding-left: 0px;
}
h3 {
    padding-left: 0px;
}


@media only screen and (max-width: 600px) {
    .main-background {
    background: url("./assets/bjorn.jpeg") no-repeat;
    background-size: contain;
    height: 100vh;
        background-position-y: 20px;
    }
    h1 {
        padding-left: 70px;
    }
    h3 {
        padding-left: 70px;
    }
}
