.App {
    font-family: 'Open Sans', sans-serif;
}

.main-background {
    background: url("./assets/bjorn.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: -200px;
}

.header-background {
    background: url("./assets/bjorn.jpeg") no-repeat;
    background-size: cover;
    height: 600px;
    background-position-y: -200px;
}

.main-card {
   backdrop-filter: blur(40px);
}
